<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="EnvoironmentSettings">
      <section name="Production" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Development" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="TrademarkSettings" type="ManageAppConfig.TrademarkSettings, ManageAppConfig"/>
  </configSections>
  
  <appSettings>
    <add key="ApplicationTitle" value="Manage Application Configuration"/>
    <add key="DeveloperName" value="DKShaw"/>
    <add key="LastUpdatedOn" value="2-FEB-2022"/>
    <add key="Name"  value=""/>
  </appSettings>

  <ApplicationSettings>
    <add key="ApplicationName" value="Manage Application Configuration"/>
    <add key="ApplicationType" value="ConsoleApp"/>
    <add key="KeyToEEncrypt" value="009900"/>
  </ApplicationSettings>

  <EnvoironmentSettings>
    <Production>
      <add key="Envoironment" value="Envoironment is Production"/>
      <add key="ServerName" value ="myDBServer" />
      <add key="DBName" value ="myDBServer" />
      <add key="UserID" value="users1"></add>
      <add key="Password" value="password@123"></add>
    </Production>
    <Development>
      <add key="Envoironment" value="Envoironment is Development"/>
      <add key="ServerName" value ="myDBServer_DEV" />
      <add key="DBName" value ="myDBServer_DEV" />
      <add key="UserID" value="users1_DEV"></add>
      <add key="Password" value="password@123_DEV"></add>
    </Development>
  </EnvoironmentSettings>

  <TrademarkSettings>
    <CompanyProfile CompanyName="INDOM Tech Pvt Ltd" Registration="2022" Country="India" Industry="Information technologies" ></CompanyProfile>
  </TrademarkSettings>
  
</configuration>
