<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="EnvoironmentSettings">
      <section name="Production" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Development" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="ProductSettings" type="ConfigurationExample.ProductSettings, ConfigurationExample"/>
  </configSections>
  
  <appSettings>
    <add key="ApplicationTitle" value="Manage Application Configuration"/>
    <add key="DeveloperName" value="DKShaw"/>
    <add key="LastUpdatedOn" value="2-FEB-2022"/>
  </appSettings>

  <ApplicationSettings>
    <add key="ApplicationName" value="Configuration Example Project"/>
    <add key="Language" value="CSharp"/>
    <add key="SecretKey" value="012345"/>
  </ApplicationSettings>

  <EnvoironmentSettings>
    <Production>
      <add key="Envoironment" value="Envoironment is Production"/>
      <add key="ServerName" value ="myDBServer" />
      <add key="DBName" value ="myDBServer" />
      <add key="UserID" value="users1"></add>
      <add key="Password" value="password@123"></add>
    </Production>
    <Development>
      <add key="Envoironment" value="Envoironment is Development"/>
      <add key="ServerName" value ="myDBServer_DEV" />
      <add key="DBName" value ="myDBServer_DEV" />
      <add key="UserID" value="users1_DEV"></add>
      <add key="Password" value="password@123_DEV"></add>
    </Development>
  </EnvoironmentSettings>
  
</configuration>
